<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
</head>
<body>
        <a href="/good/add_good">添加商品</a>
        <br/>
        {% for tp_item in data.good_tp_list %}
            <a href="/good/good_list?tp={{tp_item._id}}">{{tp_item.name}}</a>
        {% endfor %}

        {% for item in data.good_list %}
            <p>
                <img src="{{item.imgurl}}"/>
                <br>
                原价: {{item.price}}<br>
                折扣券: {{item.dis_price}}<br>
                <a href="/good/good_detail?id={{item._id}}">{{item.name}}</a>
            </p>
        {% endfor %}
</body>
</html>