<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情</title>
</head>
<body>
    <p>
            <img style="height: 50px" src="{{ data.icon_url }}">
            昵称：{{ data.nick_name }}
    </p>
    <p>
        注册时间: {{ data.create_time }}
        <br>
        省份城市: {{ data.province }} {{ data.city }}
        <br>
        open_id: {{ data.open_id }}
    </p>
    <p>
        老师信息:
        <img style="height: 50px" src="{{ data.refer_msg.icon_url }}">
        <a href="/admin/user_info?open_id={{ data.refer_msg.open_id }}">{{ data.refer_msg.nick_name }}</a>
    </p>
    <p>
        团长信息:
        <img style="height: 50px" src="{{ data.leader_msg.icon_url }}">
        <a href="/admin/user_info?open_id={{ data.leader_msg.open_id }}">{{ data.leader_msg.nick_name }}</a>
    </p>

    <p>
        <a href="/admin/my_mem?is_refer=1&open_id={{ data.leader_msg.open_id }}">订单数:({{ data.od.count }})</a>
    </p>

    <p>
        <a href="/admin/my_mem?is_refer=1&open_id={{ data.open_id }}">直属团员:({{ data.below_refer.count }})</a>
    </p>

    <p>

        <a href="/admin/my_mem?is_refer=0&open_id={{ data.open_id }}">间接团员:({{ data.below_indirect.count }})</a>
    </p>
</body>

</html>