<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>成员检查</title>
</head>
<body>
    <form>
        <input type="text" name="mix_kw">
        <input type="submit" value="提交">
    </form>
    <form action="/admin/member_upgrade">
        {% for user in data.user_info %}
            <p>
                <img style="height: 50px" src="{{ user.icon_url }}">
                <a href="/admin/user_info?open_id={{ user.open_id }}">{{ user.nick_name }}</a>
                <input type="checkbox" name="userinfo" value="{{ user.open_id }}">
            </p>
        {% endfor %}
        最后一页:<a href="/admin/member?pages={{ data.pg_count }}">{{ data.pg_count }}</a>
        <input type="radio" name="update" value="-1">删除用户
        <input type="radio" name="update" value="0">设为团员
        <input type="radio" name="update" value="1">设为团长
        <input type="radio" name="update" value="2">拉黑成员
        <br>

    </form>
{#    {% for pg in pages %}#}
{#        <a href="/admin/member?pg={{ pg }}">{{ pg }}</a>#}
{#    {% endfor %}#}
</body>
</html>