<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>成员检查</title>
</head>
<body>
    <form>
        <input type="text" name="mix_kw"><br>
        {% for user in data.users %}
            <a href="/admin/user_info?open_id={{ user.open_id }}">{{ user.nick_name }}</a>
            <input type="checkbox" name="userinfo" value="{{ user.open_id }}"><br>
        {% endfor %}
        <input type="radio" name="update" value="-1">删除用户
        <input type="radio" name="update" value="0">设为团员
        <input type="radio" name="update" value="1">设为团长
        <input type="radio" name="update" value="2">拉黑成员
        <br>
        <input type="submit" value="提交">
    </form>
{#    {% for pg in pages %}#}
{#        <a href="/admin/member?pg={{ pg }}">{{ pg }}</a>#}
{#    {% endfor %}#}
</body>
</html>