<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>成员检查</title>
</head>
<body>

        {% for user in data.user_info %}
            <p>
                <img style="height: 50px" src="{{ user.icon_url }}">
                <a href="/admin/user_info?open_id={{ user.open_id }}">{{ user.nick_name }}</a>
            </p>
        {% endfor %}
        <a href="{{ data.before_pg }}">上一页</a>
        <a href="{{ data.next_pg }}">下一页</a>
        最后一页:<a href="{{ data.pg_last }}">{{ data.pg_count }}</a>
        <br>
{#    {% for pg in pages %}#}
{#        <a href="/admin/member?pg={{ pg }}">{{ pg }}</a>#}
{#    {% endfor %}#}
</body>
</html>