<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单检查</title>
</head>
<body>
    <h1>{{ data.nick_name }}</h1>
    <form>
        <input type="text" name="mix_kw">
        <input type="submit" value="搜索">
    </form>
        {% for gd in data.order_list %}
            <p>
                <img style="height: 150px" src="{{ gd.goods_thumbnail_url }}">
                {{ gd.goods_name }}
            </p>
            <p>
                付款: {{ gd.order_amount/100 }}
                总佣金: {{ gd.total_promotion }}
                订单状态: {{ gd.order_status_desc }}
                付款时间: {{ gd.create_time }}
            </p>
            <p>
                购买: <a href="{{ gd.h_open_id }}">{{ gd.nick_open_id }}</a> <br>
                老师: <a href="{{ gd.h_refer_id }}">{{ gd.nick_refer_id }}</a><br>
                团长: <a href="{{ gd.h_leader_openid }}">{{ gd.nick_leader_openid }}</a><br>
                关联团长: <a href="{{ gd.h_leader_master }}">{{ gd.nick_leader_master }}</a><br>
            </p>
            ----------------------------------------<br>
        {% endfor %}
        <a href="{{ data.before_page }}">上一页</a>
        <a href="{{ data.after_page }}">下一页</a>
        最后一页:<a href="{{ data.last_page }}">{{ data.max_count }}</a>
        <br>
</body>
</html>