<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单检查</title>
</head>
<body>
    <h1>data.nick_name</h1>
    <form>
        <input type="text" name="mix_kw">
        <input type="submit" value="搜索">
    </form>
        {% for gd in data.order_list %}
            <p>
                <img style="height: 50px" src="{{ gd.goods_thumbnail_url }}">
                {{ gd.goods_name }}
            </p>
            <p>
                price: {{ gd.goods_price/100 }}
                promotion: {{ gd.total_promotion }}
                status: {{ gd.order_status_desc }}
                create_time: {{ gd.create_time }}
            </p>
            <p>
                购买: {{ gd.nick_open_id }} <br>
                老师: {{ gd.nick_refer_id }}<br>
                团长: {{ gd.nick_leader_openid }}<br>
                关联团长: {{ gd.nick_leader_master }}<br>
            </p>
            ----------------------------------------
        {% endfor %}
        <a href="{{ data.before_page }}">上一页</a>
        <a href="{{ data.after_page }}">下一页</a>
        最后一页:<a href="{{ data.last_page }}">{{ data.max_count }}</a>
        <br>
</body>
</html>