<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <style>
        .confirm-btn {
          font-size: 13pt;
            /*line-height: 85px;*/
            padding: 10px;
            width: 40%;
          /*height: 85px;*/
          background: #69C3AA;
          color: #fff;
          text-align: center;
          border-radius: 100px;
          /*margin: 20% 10%;*/
        }
    </style>
</head>
<body>
        <button class="confirm-btn"  open-type="getUserInfo" bindgetuserinfo="login">
            测试
        </button>
<button class="confirm-btn"  open-type="getUserInfo" bindgetuserinfo="login">
            测试
        </button>
</body>
</html>