var timeTranslate = {
  //时间戳转换
  timestampToTime: function (timestamp) {
    var date = getDate(timestamp * 1000);//时间戳为10位需*1000
    var Y = date.getFullYear() + '-';
    var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
    var D = date.getDate() < 10 ? '0' + date.getDate() : date.getDate()
    return Y + M + D;
  }
}
module.exports = {
  timestampToTime: timeTranslate.timestampToTime
}
